---
- name: Remove managed repo files before adding repo to allow updating URLs
  when:
    - item.update_url is defined
    - item.filename is defined
    - item.update_url
  ansible.builtin.file:
    path: "/etc/apt/sources.list.d/{{ item.filename }}.list"
    state: absent
  loop: "{{ apt_repositories }}"

- name: Adding apt repository
  ansible.builtin.apt_repository:
    codename: "{{ item.codename | default(omit) }}"
    filename: "{{ item.filename | default(omit) }}"
    mode: "{{ item.mode | default(omit) }}"
    repo: "{{ item.repo | default(omit) }}"
    state: "{{ item.state | default(omit) }}"
    update_cache: "{{ item.update_cache | default('yes') }}"
  with_items: "{{ apt_repositories }}"
